<h1>This is my Home Page</h1>

<p>This is my first Rails app for the 'Complete Ruby on Rails Developer Course'
    on Udemy. <br>
    I made it all this way without reading any of my notes!
</p>

<%= link_to 'about', pages_about_path %>